* {
  margin: 0;
  box-sizing: border-box;
}

*:not(ul):not(ol) {
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/*General*/


img{
  max-width: 100%;
  object-fit: cover;
}
.my-container{

  width: 100%;
}

.active{
  color: #0282F9;
}